{% extends "base.html" %}

{% load static %}

        
{% block content %}
<section>
    <div class="mycard">
        <h1>Profile</h1>
        <ul>
            {% if not user.is_authenticated %}
                <a href="{% url 'account:login' %}"><li>Login</li></a>
            {% endif %}
            <a href="{% url 'account:logout' %}"><li>Logout</li></a>
            <!-- <a href="/account/register"><li>Register</li></a> -->
            <a href="{% url 'account:home' %}"><li>Back</li></a>
        </ul>
    </div>
</section>
{% endblock content %}