{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>List-Product</title>
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
    </head>

    <body>

        <div class="topnav">
            <a href="/"><button class="home-button">
                <img class="home-color" src="{% static 'icons/house-solid.svg' %}" />
            </button>HOME</a> |
            <a href="/account">ACCOUNT</a> |
            <a href="/product">PRODUCT</a> |
            <a href="/contact_us">CONTACT US</a>
        </div>


        <div class="mycard">
            <h1>List Product</h1>
            <ul>
                <a href="../"><li>Back</li></a>
            </ul>
        </div>

        <header>
            <div></div>
        </header>
        
        <section>
            <div></div>
        </section>
        
        <footer class="footer">
            <p class="footer-p">Shayan Ataei || <a class="footer-a" href="https://github.com/shayan-ataei/home-page" target="_blank">GitHub</a></p>
        </footer>

    </body>

</html>