{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>CONTACT US</title>
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
        <!-- <script src=""></script> -->
    </head>

    <body>

        <div class="topnav">
            <a href="/">HOME</a> |
            <a href="/account">ACCOUNT</a> |
            <a href="/product">PRODUCT</a> |
            <a href="/contact_us">CONTACT US</a>
        </div>


        <div class="mycard">
            <h1>Shayan Ataei</h1>
            <ul>
                <a href="https://github.com/shayan-ataei"><li>GitHub</li></a>
                <a href="Shayan.80.s8@gmail.com"><li>Gmail</li></a>
            </ul>
        </div>

        <section>
        </section>

        <footer class="footer">
            <div class="container">
                <p>Shayan Ataei || <a href="https://github.com/shayan-ataei">GitHub</a></p>
            </div>
        </footer>

    </body>

</html>