{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>HOME</title>
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
    </head>

    <body>


        <div class="topnav">
            <a href="/">HOME</a> |
            <a href="/account">ACCOUNT</a> |
            <a href="/product">PRODUCT</a> |
            <a href="/contact_us">CONTACT US</a>
        </div>

        <div class="mycard">
            <h1>HOME</h1>
            <ul>
                <a href="/account"><li>Account</li></a>
                <a href="/product"><li>Product</li></a>
            </ul>
        </div>

        <nav></nav>

        <section>
        </section>

        <footer class="footer">
            <div class="container">
                <p>Shayan Ataei || <a href="https://github.com/shayan-ataei/home-page">GitHub</a></p>
            </div>
        </footer>

    </body>

</html>